@font-face {
	font-family: 'Rubik';
	src: url('./fonts/Rubik/Rubik-VariableFont_wght.ttf');
}

:root {
	/*** Colors ***/
	/* Primary */
	--clr-blue: hsl(246, 80%, 60%);
	--clr-light-red: hsl(15, 100%, 70%); /* Work */
	--clr-soft-blue: hsl(195, 74%, 62%); /* Play */
	--clr-light-red: hsl(348, 100%, 68%); /* Study */
	--clr-lime-green: hsl(145, 58%, 55%); /* Exercise */
	--clr-violet: hsl(264, 64%, 52%); /* Social */
	--clr-soft-orange: hsl(43, 84%, 65%); /* Self Care */

	/* Neutral */
	--clr-very-dark-blue: hsl(226, 43%, 10%);
	--clr-dark-blue: hsl(235, 46%, 20%);
	--clr-desaturated-blue: hsl(235, 45%, 61%);
	--clr-pale-blue: hsl(236, 100%, 87%);
	--clr-white: rgb(255, 255, 255);
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100dvh;

	margin: 0;

	font-family: 'Rubik', sans-serif;
	color: var(--clr-white);

	background-color: var(--clr-very-dark-blue);
}

main {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr 1fr;
	gap: 1rem;

	max-width: 1024px;
}

.cateogry-card,
.user-card {
	background-color: var(--clr-dark-blue);
	border-radius: 10px;
	overflow: hidden;
}

/*** User Card ***/

.user-card {
	grid-row: span 2;
	display: flex;
	flex-direction: column;
}

.user-card-header {
	background-color: var(--clr-blue);
	padding-inline: 1rem;
	min-height: 70%;
	border-radius: 10px;
}

.user-card-image {
	max-width: 4rem;
	margin-top: 1rem;

	border: 2px solid var(--clr-white);
	border-radius: 100%;
}

.user-card-prename {
	font-weight: 300;
	font-size: 1rem;
}

.user-card-name {
	font-weight: 400;
}

.user-card-timespan-button-group {
	display: flex;
	flex-direction: column;
	justify-content: center;

	gap: 0.6rem;

	height: 100%;

	padding-inline: 1rem;
}

/*** Category Card ***/

.cateogry-card {
	padding: 1rem;
}

/*** General ***/

.button {
	display: flex;
	width: fit-content;

	cursor: pointer;

	background: none;

	color: var(--clr-white);
	font-size: 1rem;

	border: 0;

	transition: color 0.15s ease-in-out;
}

.button[data-active='false']:hover {
	color: var(--clr-white);
}

.button[data-active='false'] {
	color: var(--clr-desaturated-blue);
}

/*** Utilties ***/

.inline-padding {
	padding-inline: 1rem;
}
