@font-face {
	font-family: 'Rubik';
	src: url('./fonts/Rubik/Rubik-VariableFont_wght.ttf');
}

:root {
	color-scheme: dark light;

	--border-radius: 20px;

	/*** Colors ***/
	/* Primary */
	--clr-orange: hsl(15, 100%, 70%); /* Work */
	--clr-blue: hsl(195, 74%, 62%); /* Play */
	--clr-red: hsl(348, 100%, 68%); /* Study */
	--clr-green: hsl(145, 58%, 55%); /* Exercise */
	--clr-violet: hsl(264, 64%, 52%); /* Social */
	--clr-yellow: hsl(43, 84%, 65%); /* Self Care */
}

@media (prefers-color-scheme: dark) {
	:root {
		/*** Colors ***/
		/* Primary */
		--clr-primary: hsl(246, 80%, 60%);

		/* Neutral */
		--clr-very-dark-blue: hsl(226, 43%, 10%);
		--clr-dark-blue: hsl(235, 46%, 20%);
		--clr-dark-blue-hover: #303361;
		--clr-desaturated-blue: hsl(235, 45%, 61%);
		--clr-pale-blue: hsl(236, 100%, 87%);
		--clr-white: rgb(255, 255, 255);
	}
}

@media (prefers-color-scheme: light) {
	:root {
		/*** Colors ***/
		/* Primary */
		--clr-primary: hsl(246, 100%, 72%);

		/* Neutral */
		--clr-very-dark-blue: hsl(226, 55%, 83%);
		--clr-dark-blue: hsl(234, 77%, 95%);
		--clr-dark-blue-hover: #d2d4ff;
		--clr-desaturated-blue: hsl(235, 45%, 61%);
		--clr-pale-blue: hsl(236, 40%, 26%);
		--clr-white: hsl(229, 20%, 17%);
	}
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100dvh;

	margin: 0;

	font-family: 'Rubik', sans-serif;
	color: var(--clr-white);

	background-color: var(--clr-very-dark-blue);
}

main {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr 1fr;
	gap: 1.6rem;

	max-width: 1024px;
}

.category-card,
.user-card {
	background-color: var(--clr-dark-blue);
	border-radius: var(--border-radius);
	overflow: hidden;
}

/*** User Card ***/

.user-card {
	grid-row: span 2;
	display: flex;
	flex-direction: column;
}

.user-card-header {
	background-color: var(--clr-primary);
	padding-inline: 1rem;
	min-height: 70%;
	border-radius: var(--border-radius);
}

.user-card-image {
	max-width: 4rem;
	margin-top: 1rem;

	border: 2px solid var(--clr-white);
	border-radius: 100%;
}

.user-card-prename {
	font-weight: 300;
	font-size: 1rem;
}

.user-card-name {
	font-weight: 300;
}

.user-card-timespan-button-group {
	display: flex;
	flex-direction: column;
	justify-content: center;

	gap: 0.6rem;

	height: 100%;

	padding-inline: 1rem;
}

/*** Category Card ***/

.category-card {
	position: relative;

	min-height: 15rem;
}

.category-background {
	position: relative;
	top: 0;

	display: flex;
	align-items: start;
	justify-content: end;

	/* min-height: 80%; */
	min-height: 10rem;
	width: 100%;
}

.category-image {
	position: relative;
	top: -0.4rem;
	right: 1.4rem;
	filter: grayscale(100%) brightness(0);

	mix-blend-mode: hard-light;
	opacity: 20%;
}

.category-details {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;

	background-color: var(--clr-dark-blue);
	border-radius: var(--border-radius);

	min-height: 80%;
	width: 100%;
	padding-inline: 1rem;

	position: absolute;
	bottom: 0;
}

.category-details:hover {
	background-color: var(--clr-dark-blue-hover);
	cursor: pointer;
}

.category-title {
	font-size: 1rem;
}

.category-hours-label {
	grid-column: span 2;

	font-size: 3rem;
	font-weight: 300;

	margin: 0;
}

.category-hours-previous-label {
	grid-column: span 2;
	font-size: 0.8rem;
	color: var(--clr-pale-blue);
	margin: 0;
	margin-bottom: 1.8rem;
}

/*** Category Background Colors ***/

.category-bg-orange {
	background-color: var(--clr-orange);
}

.category-bg-blue {
	background-color: var(--clr-blue);
}

.category-bg-red {
	background-color: var(--clr-red);
}

.category-bg-green {
	background-color: var(--clr-green);
}

.category-bg-violet {
	background-color: var(--clr-violet);
}

.category-bg-yellow {
	background-color: var(--clr-yellow);
}

/*** General ***/

.button {
	display: flex;
	max-width: fit-content;
	min-height: fit-content;

	cursor: pointer;

	background: none;

	color: var(--clr-white);
	font-size: 1rem;

	border: 0;

	transition: color 0.15s ease-in-out;
}

.button[data-active='false']:hover {
	color: var(--clr-white);
}

.button[data-active='false'] {
	color: var(--clr-desaturated-blue);
}

button.button.btn-more-options {
	align-items: center;
	justify-content: center;

	margin-left: auto;
	padding-inline: 0.4rem;
	padding-block: 0.8rem;

	border-radius: var(--border-radius);

	max-width: none;
	width: 3rem;
}

.btn-more-options:hover > .btn-img-ellipsis {
	filter: grayscale(100) brightness(100);
}

/*** Utilties ***/

.inline-padding {
	padding-inline: 1rem;
}

@media screen and (max-width: 1080px) {
	main {
		display: flex;
		flex-direction: column;
		padding-block: 4rem;
	}

	.category-card {
		min-height: 12rem;
	}

	.category-details {
		min-height: 70%;
		padding-block: 1.4rem;
	}

	.user-card-header {
		display: flex;
		align-items: center;
		gap: 1rem;
		padding-block: 1rem;
	}

	.user-card-timespan-button-group {
		flex-direction: row;
		justify-content: space-between;
		margin-block: auto;
		padding-block: 2rem;
	}

	.category-hours-label {
		grid-column: span 1;
	}

	.category-hours-previous-label {
		grid-column: span 1;
		margin-bottom: 0;
		margin-left: auto;
	}
}
